
    <h1 class="top-h1">
      ようこそ
      <strong class="top-strong">Bookers</strong>
      へ！
    </h1>
    <p>
      <strong class="top-strong">Bookers</strong>
      では、さまざまな書籍に関するあなたの意見や
    </p>
    <p>
      印象を共有し交換することができます
    </p>
    <p>
    <a href="/books" class="top-a">start</a>  
    </p>
    
